body{
	/*background-color: rgb(45, 140, 240);*/
	/*background-image: url("./image/Sans\ titre-1.png");*/
	/*background-repeat = repetition de l'image de fond si trop petite*/
	background-image: url("./image/Sans\ titre-1.png");
	background-size: cover;/*cover, contain ou une taille*/
	margin: auto;
	
}
section{
	border: 5px solid rgb(72, 60, 55);

	border-radius: 20px;
  /*solid, dotted, dashed, double*/
  /*ridge, groove, inset, outset*/
	display: block;
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	margin-bottom: 20px;

	box-sizing: border-box;

	padding: 20px;
	background-color: rgba(240, 234, 234, 0.7);
}

section img{
	
	border-radius: 20%;
	display: block;
	max-height: 200px;
	width: auto;

	opacity: 0.4;
	filter: grayscale(100%);
	transition: filter 1s, opacity 1s;

	margin: auto;
}

section img:hover{
	opacity: 1;
	filter: grayscale(0%);
}

section{
	border: 5px solid rgb(72, 60, 55);

	border-radius: 20px;
  /*solid, dotted, dashed, double*/
  /*ridge, groove, inset, outset*/
	display: block;
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	margin-bottom: 20px;

	box-sizing: border-box;

	padding: 20px;
	background-color: rgba(240, 234, 234, 0.7);
}


section{
	border: 5px solid rgb(189, 183, 181);

	border-radius: 20px;
  /*solid, dotted, dashed, double*/
  /*ridge, groove, inset, outset*/
	display: block;
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	margin-bottom: 20px;

	box-sizing: border-box;

	padding: 20px;
	background-color: rgba(160, 149, 149, 0.7);
}
h1{
	color: rgb(171, 28, 171);
}
h3{
	color: rgb(215, 247, 13);
}